body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    header a {
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
    }

    header img {
        position: absolute;
        left: 250px;
        top: 15px;
    }

    header nav {
        position: relative;
        left: 270px;
    }

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f5f5f5;
    overflow: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}